.search-bar {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 40%;
}
  
.search-input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.results-num {
    margin-left: .5rem;
    margin-bottom: .25rem;
    width: fit-content;
    
    display: inline-block;
    white-space: nowrap;
}
  